*{
    margin: 0;
    padding: 0;  
}
body{
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Oxygen', serif;
}
.row{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
} 
    /* MENU */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px 20px;
    border-bottom: 1px solid #dddddd;
    transition: .5s;
    z-index: 1;
}
nav.bg{
    background: rgba(255,255,255,.9);
    /* border: none; */
    box-shadow: 0px 0px 5px #dddddd;
}
nav .menu,nav ul .close{
    width: 20px;
    height: 20px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
nav ul .close{
    position: absolute;
    top: 10%;
    right: 10%;
}
nav .logo{
    font-weight: 100;
    font-size: 13pt;
}
nav .cart{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #FFFFFF;
    border-right: 1px solid #dddddd;
    width: 90%;
    list-style: none;
    left: -100%;
    height: 100vh;
    top: 0;
    transition:.5s;
}
nav ul .social{
    position: absolute;
bottom: 10%;
width: 60%;
}
nav ul .social i{
    margin-right: 25px;
}
nav ul li{
    width: 60%;
    text-align: left;
    padding: 5px;
    margin: 5px;
}
nav ul li a{
    text-decoration: none;
    width: 100%;
    display: block;
    color: #2B2B2B;
    font-style: italic;
}
nav ul li a:hover{
    color: rgb(58, 58, 58);
}

    /* HERO SECTION */
.hero{
    width: 100%;
    height: 95vh;
}
.hero .row{
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.hero .row .col.left-section{
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.hero .row .col.left-section .text{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    justify-content: center;
    height: 65%;
    width: 80%;
    margin: auto;
}
.hero .row .col.left-section .text h2{
    font-size: 20pt;
    font-style: italic;
    font-weight: 100;
    width: 80%;
    opacity: 0;
	transform: translateX(-100px);
	transition: all .4s;
}
.hero .row .col.left-section .text a{
    padding: 18px;
    max-width: 150px;
    background:#E3F1F1;
    text-decoration: none;
    color:#000;
    text-align: center;
    margin-top: 20px;
    opacity: 0;
	transform: translateX(100px);
	transition: all .4s;
}
.hero .row .col.left-section .footer-hero{
    display: flex;
    background: #E3F1F1;
    height: 30%;
}
.hero .row .col.left-section .footer-hero span{
    width: 80%;
    margin: auto;
    color:#2B2B2B;
    font-weight: 100;
}
.hero .row .right-section{
    display: none;
    width: 45%;
    background: #F0FAFA;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.hero .row .right-section .img{
    width: 50%;
    margin: auto;
}
.hero .row .right-section img{
    width: 100%;
    opacity: 0;
	transform: translateX(100px);
	transition: all .4s;
}

    /* PRODUCT LIST SECTION  */

    .products{
        width: 90%;
        margin: 20px auto;
    }
    .products.row{
        justify-content: space-between;
    }
    .card-prod{
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        border: 1px solid #eeeeee;
        
        padding: 10px;
    }
    .card-prod a{
        text-decoration: none;
        width: 90%;
    }
    .card-prod a .price{
        color:#676767;
        font-size: 13pt;
        text-align: left;
    }
    .card-prod a .img{
        width: 100%;
    }
    .card-prod a .img img{
        width: 100%;
        height: 200px;
    }
    .card-prod a .name{
        font-size: 9pt;
        color: #000000;
    }

    /* INFO SECTION  */

    .info{
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }
    .info .row{
        flex-direction: column;
    }
    .info .row .img{
        width: 100%;
        height: 250px;
        filter: blur(4px);
    }
    .info .row .img img{
        width: 100%;
        height: 100%;
    }
    .info .row .col{
        align-items: center;
        justify-content: space-around; 
        position: absolute;
        top: 0;
        background: rgba(255,255,255,.3);
        height: 100%;
    }
    .info .row .col h2{
        font-style: italic;
        font-weight: 100;
        width: 70%;
        margin: 0px auto;
        opacity: 0;
	transform: translateX(100px);
    transition: all .4s;
  
    }
    .info .row .col a{
        color: #000000;
        width: 70%;
        text-align: left;
        display: flex;
        align-items: center;
        text-decoration: none;
        opacity: 0;
	transform: translateX(100px);
	transition: all .4s .2s;
    }

    /* PORTFOLIO  */

    .portfolio{
        width: 88%;
        margin: 20px auto;  
    }
    .portfolio .row{
        justify-content: center;
        flex-wrap: wrap;
    }
    .portfolio .item.row{
        flex-wrap: nowrap;
        width: 400px;
        border: 0.5px solid #707070;
        margin:10px 5px;
       
    }
    .portfolio .item .col{
        justify-content: center;
        padding-left: 20px;
    }
    .portfolio .item .col h3{
        font-style: italic;
        font-weight: 100;
        font-size: 12pt;
    }
    .portfolio .item .col a{
        color: #000000;
        font-size: 9pt;
        margin-top: 10px;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .portfolio .item .col a i{
        font-size: 12pt;
    }
    .portfolio .img{
        max-width: 150px;
        max-height: 150px; 
    }
    .portfolio .img img{
        width: 100%;
        height: 100%;
    }
    .portfolio a.btn{
        display: flex;
        margin: 50px auto;
        background:#F0FAFA;
        color: #000000;
        text-decoration: none;
        width: 130px;        
        padding: 15px;             
        justify-content: center;        
        align-items: center;
    }

    /* CONTACT */

    .contact.row{
        width: 100%;
        border-top: 1px solid #dddddd;
        flex-wrap: wrap;
    }
    .contact .col{
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .contact .col .text{
        width: 88%;
    }
    .contact .col .text h2{
        font-weight: 100;
        font-style: italic;
        opacity: 0;
	transform: translateX(-50px);
	transition: all .4s .2s;
    }
    .contact .col .social-contact{
        width: 88%;
        font-size: 17pt;
        margin-bottom: 30px;
    }
    .contact .col .social-contact i{
        margin: 0px 10px;
    }
    .contact .form.col{
        width: 90%;
        margin: auto;
    }
    form input[type="text"]{
        width: 100%;
        padding:5px;
        background: transparent;
        border:none;
        border-bottom: 1px solid #2B2B2B;
        margin: 10px;
    }
    form textarea{
        width: 100%;
        padding:5px;
        margin: 10px;
        background: transparent;
        border: 1px solid #2B2B2B;
    }
    form input[type="submit"]{
        padding:20px;
        font-size: 11pt;
        font-weight: 100;
        background: #E3F1F1;
        color:#000000;
        border:none;
        margin: 10px;    
    }
    

    footer{
        display: flex;
        flex-wrap: wrap;
        background: #292929;
        color: #FFFFFF;
        height: 216px;
        align-items: center;
    }
    footer .row{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
    }
    footer ul{
        list-style: none;
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    footer ul li{
        display: inline-block;
        margin:0px 5px;
    }
    footer ul li a{
        text-decoration: none;
        color: #FFFFFF;
    }
    footer .social-footer i{
        margin: 0px 5px;
    }
     
    /* ANIMATIONS  */

    .fadeSlideRight{
        opacity: 1 !important;
        transform: translateX(0px) !important;
    }
    .fadeSlideLeft{
        opacity: 1 !important;
        transform: translateX(0px) !important;
    }
    .fadeSlideUp{
        opacity: 1 !important;
        transform: translateY(0px) !important;
    }
    .fadeSlideDown{
        opacity: 1 !important;
        transform: translateY(0px) !important;
    }



    /* SINGLE PRODUCT  */
    .singleprod{
        width: 88%;
        margin: 85px auto;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .singleprod .img{
        width: 300px;
    }
    .singleprod .img img{
        width: 100%;
    }
    .singleprod .col{
        justify-content: space-around;
    }
    .singleprod .col h2{
        font-weight: 100;
        font-style: italic;
    }
    .singleprod .col .description{
        font-weight: 100;
        color: #2B2B2B;
        font-style: italic;
    }
    .singleprod .col .price{
        font-size: 15pt;
        font-weight: 700;
        font-style: italic;
        color:#676767;
    }
    .singleprod .col a.btn{
        display: block;
        text-decoration: none;
        color: #FFFFFF;
        background: #000000;
        padding:10px 15px;
    }
    .singleprod .col input[type="number"]{
        width: 50px;
        text-align: center;
        margin: 0px 5px;
        border: 1px solid #444;
    }
    .singleprod .col select{
        background: #FFFFFF;
        border: 1px solid #444;
    }
    .note{
        width: 88%;
        text-align: left;
        margin: auto;
        display: block;
        color: #837E7E;
        font-size: 10pt;
    }